* {
  margin: 0;
  padding: 0;
}

/* Styles for the loading container */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #ecf0f1;
}

/* Styles for the loading image */
.loading-container img {
  width: 550px; /* Adjust width as needed */
  height: auto;
}

@media (max-width: 768px) {
  .loading-container img {
    width: 80%; /* Adjust the width to 80% of the viewport width */
    max-width: 350px; /* Maximum width for smaller screens */
  }
}

@media (max-width: 480px) {
  .loading-container img {
    width: 70%; /* Further adjust the width for very small screens */
    max-width: 300px; /* Maximum width for very small screens */
  }
}
